.keyboard{
  background-color: $appBgColor;
  width: 100vw;
  min-height: 100vh;
  display: flex;
}

.keyboard__wrapper{
  flex: 0 1 704px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.keyboard__input {
  width: $inputWidth;
  resize: none;
  min-height: $inputMinHeight;
  box-sizing: border-box;
  font-size: $keyboardInputFontSize;
  border: none;
  margin-bottom: 20px;

    &:focus{
      outline: none;
    }
}

.keyboard__surface {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-row-gap: 10px;
}

.keyboard-row {
  display: grid;
  grid-column-gap: 6px;
  grid-template-rows: 40px;;

    &--first{
      grid-template-columns: repeat(13, 40px) auto;
    }

    &--second{
      grid-template-columns: auto repeat(13, 5.7%) auto;
    }

    &--third{
      grid-template-columns: 12% repeat(11, 5.7%) auto;
    }

    &--fourth{
      grid-template-columns: 14.8%  repeat(11, 5.7%)  auto;
    }

    &--fifth{
      grid-template-columns: repeat(3, 5.7%) auto repeat(5, 5.7%);
    }
}


.keyboard--en.keyboard--lowercase .key__en-lowercase{
  display: block;
}

.keyboard--en.keyboard--uppercase .key__en-uppercase{
  display: block;
}

.keyboard--ru.keyboard--lowercase .key__ru-lowercase{
  display: block;
}

.keyboard--ru.keyboard--uppercase .key__ru-uppercase{
  display: block;
}

.keyboard__info{
  position: fixed;
  top: 10px;
  left: 10px;
  border: 3px solid $infoBorderColor;
  padding: 10px;
}

