$font: 'Roboto';
$fontSize: 16px;

$keyFontSize: 16px;
$metaKeyFontSize: 14px;

$appBgColor: cyan;


$metaKeyBgColor: #73cff8;
$keyBgColor: #668EB9;
$keysHoverColor: #FF8800;
$bordersColor: #000000;
$capsIndicatorColor: yellow;
